<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proje.talkymessage"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
<!-- kendi projemize dahil izin -->
    <permission
        android:name="com.proje.talkymessage.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Requires OpenGL ES version 2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.proje.talkymessage.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".MenuActivity"
            android:label="@string/app_name"
            android:logo="@drawable/action_logo" >
        </activity>
        
        <activity
            android:name=".AyarlarActivity"
            android:label="@string/menu_action_bar_ayarlar_title"
            android:logo="@drawable/action_ayarlar" >
        </activity>
        
        <activity
            android:name=".ProfilActivity"
            android:label="@string/menu_action_bar_profil_title"
            android:logo="@drawable/action_profil" >
        </activity>
        
        <activity
            android:name=".KisilerActivity"
            android:label="@string/menu_action_bar_kimler_title"
            android:logo="@drawable/action_kisiler" >
        </activity>
        <activity
            android:name=".HakkimizdaActivity"
            android:label="@string/menu_action_bar_hakkimizda_title"
            android:logo="@drawable/action_kisiler" >
        </activity>
        
        <activity
            android:name=".HaritaActivity"
            android:label="@string/menu_action_bar_harita_title"
            android:logo="@drawable/harita">
        </activity>
        
        <service android:name=".KonumGuncelleService" />
        
        <receiver android:name=".BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <uses-library android:name="com.google.android.maps"/>
        <!-- Goolge API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCrc3AqpU6kSrS7KeJ7iZI6nuaLEtFI9fM" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    
    </application>

</manifest>
